* {
    * {
        margin: 0;
        border: 0;
    }
}

.card-section {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 6px;

}

.notice {
    color: lightslategrey;
    text-align: center;
    font-size: 14px;
    padding: 0px;
    margin-top: 0px;
    font-style: italic;
}

.card {
    display: flex;
    border: 1px solid tomato;
    width: 100%;
    justify-content: center;
    border-radius: 6px;
    /* box-shadow: 0px 0px 10px rgba(77, 77, 77, 0.535); */


}

.price {
    color: tomato;
    font-weight: 600;
    margin-left: 6px;
}

button {
    padding: 14px 0px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    width: 50%;
    margin-top: 10px;
    border-radius: 0px 6px 6px 0px;
    font-size: 14px;
    border: 0;
}

button:hover {
    background-color: crimson;
    cursor: pointer;
}


.discount-section {
    display: flex;
}

input {
    padding: 14px;
    margin-top: 10px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(226, 226, 226);
    width: 50%;
}

/* Media Quarry  */

@media only all and (max-width: 600px) {
    .card-section {
        width: 70%;
    }
}